---
import { Icon } from "astro-icon";
import navData from "../data/navData";
import Link from "./Link.astro";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" aria-label="Go home" class="logomark">
      <Icon name="logomark" width="60" />
    </a>
    <ul>
      {
        navData.map((item) => (
          <li>
            <Link
              text={item.name}
              href={item.path}
              style="secondary"
              isFilled={false}
              data-navLink
            />
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  import "../js/nav.js";
</script>
