---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import MainHead from "./MainHead.astro";
export interface LayoutProps {
  title?: string;
  description?: string;
}

const { title = "Astro", description = "The blog about astro framework" } =
  Astro.props as LayoutProps;
---

<html lang="en">
  <MainHead title={title} description={description} />
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
